@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700");
.card {
  width: 640px;
  height: auto;
  margin: 10% auto 0 auto;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 16px #98a6bd;
}

@media (max-width: 768px) {
  .card {
    width: 310px;
  }
}

.header {
  grid-area: header;
}

.subscription {
  grid-area: subscription;
}

.why-us {
  grid-area: why-us;
}

.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: "header header" "subscription why-us";
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 100%;
    grid-template-areas: "header" "subscription" "why-us";
  }
}

.button-primary {
  display: inline-block;
  width: 100%;
  border: 0;
  border-radius: 8px;
  padding: 18px 20px;
  transition: 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.button-primary:hover {
  transform: scale(0.98);
}

.button-primary {
  background-color: #c0df34;
}

.button-primary:hover {
  background-color: #accb20;
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  -webkit-user-select: none;
}

body {
  width: 100vw;
  height: auto;
  margin: auto;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background: #e5eff5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 12px;
}

p {
  font-size: 1rem;
}

.header {
  padding: 40px 60px 40px 40px;
}

@media (max-width: 768px) {
  .header {
    padding: 24px;
  }
}

.header-title {
  background-color: #fff;
  color: #2ab2af;
}

.header-subtitle {
  color: #c0df34;
}

.header-content {
  color: #98a6bd;
  line-height: 1.5;
}

.subscription {
  background-color: #2ab2af;
  padding: 40px;
  color: #fff;
}

@media (max-width: 768px) {
  .subscription {
    padding: 24px;
  }
}

.subscription-price {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subscription-price span {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 12px;
}

.subscription-price p {
  opacity: 0.5;
}

.subscription-content {
  margin-bottom: 30px;
}

.why-us {
  background-color: #2cbab8;
  padding: 40px 60px 40px 40px;
  color: white;
}

@media (max-width: 768px) {
  .why-us {
    padding: 24px;
  }
}

.why-us .why-us-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.why-us ul {
  list-style-type: none;
}

.why-us .links a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
  opacity: 0.5;
}

.why-us .links a:hover {
  color: #165f5e;
}

footer {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  padding: 60px;
  font-weight: 400;
  color: #98a6bd;
}

footer a {
  color: #2ab2af;
}

footer a:hover {
  color: #165f5e;
}
