@import "config";
@import "utilities";
@import "button";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 80vw;
  height: auto;
  margin: auto;
  font-family: $body-font-family;
  font-size: $body-font-size;
  background-color: lighten($color-neutral-grayish-blue, 20%);
}

a {
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 12px;
}

p {
  font-size: 1rem;
}

.header {
  padding: 40px 60px 40px 40px;

  &-title {
    background-color: #fff;
    color: $color-primary-cyan;
  }
  &-subtitle {
    color: $color-primary-bright-yellow;
  }
  &-content {
    color: $color-neutral-grayish-blue;
    line-height: 1.5;
  }
}

.subscription {
  background-color: $color-primary-cyan;
  padding: 40px;
  color: #fff;

  &-price {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    span {
      font-size: 2rem;
      font-weight: $font-weight-bold;
      margin-right: 12px;
    }

    p {
      opacity: 0.5;
    }
  }

  &-content {
    margin-bottom: 30px;
  }
}

.why-us {
  background-color: $color-primary-cyan;
  padding: 40px 60px 40px 40px;

  .why-us-title {
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    color: white;
  }
  .links {
    a {
      color: white;
    }

    a:hover {
      color: $color-neutral-grayish-blue;
    }
  }
}

footer {
  text-align: center;
  font-size: 1rem;
  padding: 60px 0;
  font-weight: $font-weight-regular;
  color: $color-neutral-grayish-blue;

  a {
    color: $color-primary-cyan;
    font-weight: $font-weight-bold;
  }
}
