@import "config";
@import "utilities";
@import "button";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $body-font-family;
  font-size: $body-font-size;
  background-color: $color-neutral-light-gray;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  text-decoration: underline;
}

.header {
  &-title {
    display: grid;
    background-color: #fff;
    color: $color-primary-cyan;
  }
  &-subtitle {
    color: $color-primary-bright-yellow;
  }
  &-content {
    color: $color-neutral-grayish-blue;
  }
}

.subscription {
  .subscription-title {
  }
  .price {
  }
  .subscription-content {
  }
}

.why-us {
  .why-us-title {
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    color: white;
  }
  .links {
    a {
      color: white;
    }

    a:hover {
      color: $color-neutral-grayish-blue;
    }
  }
}

footer {
  font-size: 1rem;
  font-weight: $font-weight-regular;
  color: $color-neutral-grayish-blue;

  a {
    color: $color-primary-bright-yellow;
  }

  a:hover {
    color: $color-primary-cyan;
  }
}
